
/*======================
 GENERAL RULES
=======================*/
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  padding: .5em;
}

body {
  width: 1160px;
  margin: 0 auto;
}


/*======================
 HEADER
=======================*/
.main-image {
  width: 100%;
  height: auto;
}

header {
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 355px;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.logo {
  margin-left: 95px;
  margin-top: 5px;
}

header p nav {

}
header figure .logo {
  flex: 3;
}

header nav {
  flex: 1;
}

header h1 {
  margin-top: 110px;
  color: #eaeaea;
  font-size: 4rem;
}

header p strong {
  margin-top: 230px;
  font-size: .9rem;
}

/*======================
 MAIN CONTENT
=======================*/
.main-content, aside {
  display: flex;
  margin: 0 auto;
  width: 85%;
}

article {
  flex-direction: column;
  flex: 3;
  padding: 1rem;
}

.main-content article h1 {
  font-size: 3.5rem;
  color: #083452;
  line-height: 56px;
  margin-bottom: 5px;
}
aside {
  flex-direction: column;
  flex: 1;
}

.communications ul li {
  display: inline-block;
  padding: 1rem;
}

.connect-icon {
  background-color: #5e686f;
}
.communications ul li a {
  background-color: #a3b3bf;
}

.communications ul li a span {
  background-color: #106db3;
}

.posts {
  /*display: flex;
  flex-direction: row;*/

}

.posts ul li {
  display: inline-block;
  position: relative;
}

.posts a {
  padding: 1em;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
.posts h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #083452;
}

.blockquote {
  color: #297cbb;
  font-family: 'Oswald', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  border-left: 2px solid #eaeaea;
}
/*======================
 ASIDE
=======================*/
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
aside h3 {
  text-align: center;
  color: #2977b7;
  font-size: 0.9rem;
}

aside ul li {
  display: inline-block;
}

aside ul li a {
  color: #b5c1cb;
  text-decoration: none;
}

aside ul {
  margin-top: -8px;
}
/*======================
 FOOTER
=======================*/
footer {
  background-color: #083452;
  color: #95a8b5;
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer nav a {
  color: #95a8b5;
}

.footer-logo {
  margin-left: 60px;
}
