
/*======================
 GENERAL RULES
=======================*/
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h1 h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  padding: ;
}

body {
  width: 1160px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}


/*======================
 HEADER
=======================*/
header h1 {
  text-decoration: none;
  background: url(images/logo.png) no-repeat 0 0;
  margin: 10px;
  padding-left: 55px;
  font-size: 2.5rem;
}

header h1 a {
font-size: 2rem;
}

.main-image {
  width: 100%;
  height: auto;
}

header {
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 355px;
  border-radius: 10px 10px 0 0;
}

header h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #eaeaea;
  letter-spacing: 5px;
  margin-top: 10px;
}

header p {
  text-align: center;
  margin-top: -60px;
}

/*.logo {
  margin-left: 95px;
  margin-top: 5px;
  display: inline-block;
}
.company-name {
  margin-top: 170px;
  text-align: center;
  display: inline;
}
figure {
  display: inline-block;
}


header h1 {
  margin-top: -20px;
  color: #eaeaea;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}*/

/*header figure strong {
  margin-top: 230px;
  font-size: .9rem;
}*/

nav ul {
  display: inline-block;
}
/*======================
 MAIN CONTENT
=======================*/
article img {
  width: 5%
}
article p img {
  display: inline-block;
}

.author-section {
  top: 20px;
}

.main-content, aside {
  display: flex;
  margin: 0 auto;
  width: 85%;
}

article {
  flex-direction: column;
  flex: 3;
  padding: 1rem;
  position: relative;
}

.main-content article h1 {
  font-size: 3.5rem;
  color: #083452;
  line-height: 56px;
  margin-bottom: 5px;
}
aside {
  flex-direction: column;
  flex: 1;
}

.communications ul li {
  display: inline-block;
  padding: 1rem;
}

.connect-icon {
  background-color: #5e686f;
  padding: .3rem;
}
.communications ul li a {
  background-color: #a3b3bf;
  padding: .3rem;

}

.communications ul li a span {
  background-color: #106db3;
}

.posts {
  /*display: flex;
  flex-direction: row;*/

}

.posts ul li {
  display: inline-block;
  width: 24%;
  position: relative;
}
.posts ul li img {
  width: 100%
}

.posts a {
  padding: 1em;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
.posts h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #083452;
}

blockquote {
  color: #297cbb;
  font-family: 'Oswald', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  border-left: 2px solid #eaeaea;
  padding-left: 10px;
  margin-left: -10px;
}
.posts ul li {
  background-color: #63a0cc;
}

.posts img.darker{
  opacity: .25;
}

.posts img.darker:hover {
    opacity: .95;
    transition: 1s;
}
/*======================
 ASIDE
=======================*/
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
aside h3 {
  text-align: center;
  color: #2977b7;
  font-size: 0.9rem;
}

aside ul li {
  display: inline-block;
}

aside ul li a {
  color: #b5c1cb;
  text-decoration: none;
}

aside ul {
  margin-top: -8px;
}
/*======================
 FOOTER
=======================*/
footer {
  background-color: #083452;
  color: #95a8b5;
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}

footer nav a {
  color: #95a8b5;
}
nav ul  {
  margin-left: 826px;
  margin-top: -20px;
}

.footer-logo {
  margin-left: 60px;
}
